/* !-------Header-------- */
/* ! !!! Анімованіможуть бути властивості, які мають числові значенняб
!всі інші не анімуються */

/* ?title */
@keyframes translate-block-x {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes text-color {
  0% {
    color: #2b2929;
  }
  50% {
    color: rgb(133, 133, 133);
  }

  100% {
    color: rgb(255, 255, 255);
  }
}

/* ?background */

@keyframes header-background-color {
  0% {
    background-color: rgb(216, 224, 210);
  }
  25% {
    background-color: rgb(181, 223, 148);
  }

  50% {
    background-color: rgb(146, 217, 93);
  }
  75% {
    background-color: rgb(119, 219, 43);
  }

  100% {
    background-color: rgb(93, 214, 0);
  }
}

/* ? 2d-item transform column */

@keyframes column {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* ? 3d-item opasity item */

@keyframes opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* ? sun */

@keyframes fluctuations {
  0% {
    rotate: 1deg;
  }

  100% {
    rotate: -1deg;
  }
}

/* ? car */

@keyframes wheel {
  0% {
    rotate: 0deg;
  }

  100% {
    rotate: 360deg;
  }
}

@keyframes car {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(220%);
  }
}
