/* !Локальне підключення */
@import url("fonts.css");

@import url("reset.css");
/* @import url("style.css"); */

body {
  font-family: "Proxima Nova", sans-serif;
  /* !це стандартні параметри браузера за замовчуванням,
   !body їх можна не прописувати */
  /* font-weight: 400;
  font-size: 16px; */

  /* ?скролиться або не скролиться, фонове зображення, разом з блоком */
  background-attachment: fixed;
  /* background-attachment: scroll; */
}

/* ?..............................................Оформлення вітальні............................................. */

.layout-wrap {
  /* ?стилі за замовченням (які наслідуються від браузера) писати не потрібно*/
  /* font-weight: 400;
  font-size: 16px; */
  line-height: 1.9;
  letter-spacing: 0;
  color: #2b2929;
}

.text-title {
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0;
  text-align: center;
  color: #2b2929;
  /* margin-bottom: 30px; */
}

.text-block-1 {
  max-width: 960px;
  margin: 0 auto;
  padding-bottom: 70px;
}

.text-block-2 {
  max-width: 1070px;
  margin: 0 auto;
  padding-bottom: 100px;
}

/* ?обнулення відступу останього елементу */
.text-block-2 > * {
  margin-bottom: 40px;
}

.text-block-2 > *:last-child {
  margin-bottom: 0;
}
/* ?--------- */

.text-block-2 .text-title {
  text-align: left;
  /* margin-bottom: 40px; */
}

.text-block-2 > img {
  display: block;
  max-width: 100%;
  border-radius: 8px;
}

/* ?приклад без використання псевдокласу */
/* .text-block-2 h2 ~ p {
  margin-bottom: 15px;
} */

.text-block-2 p:nth-child(3) {
  margin-bottom: 15px;
}

.extra-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0;
  color: #2b2929;
  /* !створюю відступ схлопуючи марджином */
  /* margin-top: 40px;
  margin-bottom: 30px; */
}

/* !---СТИЛІЗАЦІЯ МАРКОВАНОГО СПИСКУ---*/
/* ?обнулення відступу останього елемента */
.text-block-list > * {
  margin-bottom: 20px;
}

.text-block-list > *:last-child {
  margin-bottom: 0;
}
/* ?--------- */

.text-block-list li {
  padding-left: 47px;
  background: url("../img/mark.png") 0 0 / 32px no-repeat;
  /* !Якщо зображення списку обрізається, спробуй встановити min-height потрібно підганяти під картинку*/
  min-height: 30px;
}

/* ?................................KROVATO............................. */

.text-block-3-wrap {
  background-color: #f8f8f8;
}

.text-block-3 {
  max-width: 1290px;
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 70px;
}

.text-block-3 > .text-title {
  text-align: center;
  margin-bottom: 40px;
}

.text-block-3 > .text-title span {
  text-transform: uppercase;
}

/* !обнулення марджинами відступів між карточками */
.krovato-about-list {
  margin-right: -15px;
  margin-left: -15px;
  font-size: 0;
}

.krovato-wrap-list {
  display: inline-block;
  /* ?Це рекомендація, додати ще width 100% додатково,
  ?зараз карточки до max-width розтягує текст, 
  ?але якщо тексту буде менше нічому буде розтягувати, 
  ?а width 100% скаже щоб карточка завжди була ці 25%
  ?ширини незалежно від того скільки всередині неї контенту.*/
  width: 100%;
  max-width: 25%;
  font-size: 16px;
  text-align: center;
  padding-right: 15px;
  padding-left: 15px;
  vertical-align: top;
}

.krovato-wrap-list img {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 20px;
}

.krovato-wrap-list .extra-title {
  text-align: center;
  font-size: 26px;
  line-height: 1.3;
  font-weight: 400;
}

.krovato-wrap-list .extra-title + p {
  text-align: center;
}

/* ?............................................EcommerceMinimal..........................................*/

.ecommerce-minimal {
  font-family: "Roboto", sans-serif;
}
.colections {
  font-family: "Roboto", sans-serif;
  padding-top: 54px;
  padding-bottom: 54px;

  background: url("../img/vector-left.png") no-repeat 0 90% / 132px,
    url("../img/vector-righte.png") no-repeat 100% 45% / 194px,
    rgba(30, 40, 50, 0.05);

  /* outline: 1px solid #cf1212; */
}

.colections-container {
  max-width: 1250px;
  padding-left: 12px;
  padding-right: 12px;
  margin: 0 auto;
}

.text-wrap-colections {
  display: inline-block;
  max-width: 686px;
  margin-right: 98px;
  padding-top: 74px;

  /* outline: 1px solid #0207f8; */
}

.img-wrap-eco {
  display: inline-block;
  vertical-align: top;

  max-width: 442px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

  border-radius: 160px 0;
}

/* !ефект тіні за фотографією */
.img-wrap-eco > img {
  width: 100%;
  margin: -10px 8px 20px -18px;

  border-radius: 160px 0;
}

.text-wrap-colections > h2 {
  margin-bottom: 52px;

  font-weight: 300;
  font-size: 74px;
  line-height: 74%;
  text-transform: capitalize;
  color: #000;
}

.text-wrap-colections > h2 + p {
  font-size: 30px;
  line-height: 183%;
  text-transform: capitalize;
  color: #000;
  margin-bottom: 66px;
}

.btn {
  display: inline-block;
  font-size: 29px;
  text-transform: capitalize;
  padding: 25px 28px 22px 64px;

  color: white;

  background: #1e2832 url("../img/shop-now.png") no-repeat 28px / 30px;
}

.wrap-ecommerce {
  background-color: #e3e3e3;
}

.text-block-4 {
  max-width: 1320px;
  margin: 0 auto;
  padding: 100px 0 100px 0;
}

.product-title {
  font-weight: 500;
  font-size: 50px;
  letter-spacing: 0;
  text-align: center;
  text-transform: capitalize;
  color: #000;

  margin-bottom: 60px;
}

.product-item > img {
  display: inline-block;
  max-width: 100%;
}

.product-wrap {
  text-align: center;
}

.product-item {
  display: inline-block;
  max-width: 15%;
  padding-left: 12px;
  padding-right: 12px;
  vertical-align: top;
}

/* !.......................................EduPlay.......................................................... */

.edu {
  font-family: "Quicksand", sans-serif;
  /* !на зображення даю значення cover а не 100%, щоб небуло гумового ефекту  */
  background: url("../img/holographic-img.png") no-repeat 0 0 / cover,
    url("../img/holographic.png") no-repeat 0 0 / 100% 100%;
  border: 1px solid #000;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  padding-bottom: 37px;
}

.edu-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.edu-container > img {
  display: inline-block;
  max-width: 547px;
}

.edu-text {
  display: inline-block;
  max-width: 600px;
  margin-right: 133px;
  padding: 121px 0;
}

.edu-text > h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 120%;
  color: #fff;

  margin-bottom: 24px;
}

.edu-text h2 + p {
  font-size: 20px;
  font-weight: 500;
  line-height: 160%;
  color: #fff;

  margin-bottom: 24px;
}

.edu-btn {
  min-width: 217px;
  padding: 12px 20px;

  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 156.25%;
  color: #0d1216;

  border-radius: 8px;
  background-color: #fff;
  border: transparent;
}

/* !............................About Me.......................................... */

.about {
  font-family: "Exo", "Orbitron", sans-serif;
  padding: 120px 0 120px 0;

  text-align: center;
  font-size: 18px;
  line-height: 222.222222%; /* 40/18 */
  letter-spacing: -0.02em;
  text-transform: capitalize;
  color: #fff;

  background: url("../img/about-section.jpg") no-repeat 0 0 / cover,
    linear-gradient(180deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.99) 85.54%);
}

.about-container {
  max-width: 1303px;
  margin: 0 auto;
  padding: 0 15px;
}
.about-container > * {
  margin-bottom: 60px;
}

.about-container > *:last-child {
  margin-bottom: 0;
}

.content-box {
  max-width: 992px;
  margin-left: 140px;
  margin-right: 140px;
}

.content-box > h2 {
  font-family: "Exo", sans-serif;
  display: inline-block;
  margin-bottom: 20px;
  font-size: 60px;
  font-weight: 700;
  line-height: 116.666667%;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.content-box > h2::after {
  content: "";
  margin-top: 20px;
  /* !центрування лінії негативним марджином */
  width: 130%;
  margin-left: -15%;
  height: 1px;
  display: block;

  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(66, 255, 0, 1) 51%,
    rgba(36, 0, 255, 1) 100%
  );
}

.about-list {
  margin-bottom: 70px;
}

/* ?обнулення */
.about-list > * {
  margin-right: 50px;
}

.about-list > *:last-child {
  margin-right: 0;
}

.about-item {
  display: inline-block;
  /* text-align: center; */
}

.about-item > a {
  display: inline-block;
  font-family: "Orbitron", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 125%;
  text-transform: capitalize;
  color: #fff;
}

.about-item > a::after {
  content: "";
  width: 10px;
  height: 10px;
  margin-left: 50px;
  border-radius: 50%;
  background-image: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(66, 255, 0, 1) 51%,
    rgba(36, 0, 255, 1) 100%
  );
}

.about-item > a:hover {
  color: rgba(255, 0, 0, 1);
}

/* ?обнулення */
.adress > * {
  margin-right: 80px;
}

.adress > *:last-child {
  margin-right: 0;
}

.adress-item {
  display: inline-block;
  /* text-align: center; */
}

.adress-item > a {
  display: inline-block;
  font-family: "Exo", sans-serif;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.4px;
  text-transform: capitalize;
  color: #fff;
}

.adress li:first-child > a::before {
  content: "";
  width: 20px;
  height: 20px;
  margin-right: 20px;
  vertical-align: bottom;
  background: url("../img/call1.png") 0 0 / 20px no-repeat;
}

.adress li:nth-child(2) > a::before {
  content: "";
  width: 20px;
  height: 20px;
  margin-right: 20px;
  vertical-align: bottom;
  background: url("../img/email2.png") 0 0 / 20px no-repeat;
}

.adress li:nth-child(3) > a::before {
  content: "";
  width: 20px;
  height: 20px;
  margin-right: 20px;
  vertical-align: bottom;
  background: url("../img/location3.png") 0 0 / 20px no-repeat;
}

.adress-item > a:hover {
  color: #9700ff;
}
