/* !Локальне підключення */
@import url("fonts.css");

@import url("reset.css");

body {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.box-text h1 {
  font-size: 40px;
  font-style: oblique;
  color: red;
  text-align: center;
}

.box-text h1 ~ p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 20px;
  color: blue;
  text-align: right;
}

.box-text h1 + p {
  font-family: "Kyiv Region";
  font-weight: 500;
  font-size: 25px;
  color: green;
  text-align: left;
}

.wrap-text-first h2 {
  font-size: 40px;
  font-style: italic;
  color: #ff440061;
  text-align: center;
}

.wrap-text-first > p {
  color: rgba(55, 168, 51, 0.5);
  font-size: 25px;
  text-align: center;
}

.wrap-text-next h2 {
  font-size: 40px;

  color: green;
  text-align: justify;
}

.wrap-text-next {
  font-size: 25px;
}

.error-real-1 {
  color: blueviolet;
  text-decoration: underline;
  text-decoration-color: cadetblue;
  text-decoration-style: dashed;
  /* text-decoration-line: line-through; */
}

.error-real-2 {
  color: brown;
  text-decoration: line-through;
  text-decoration-color: black;
  text-decoration-style: double;
}

.error-real-3 {
  color: goldenrod;
  text-decoration: overline;
  text-decoration-color: blue;
  text-decoration-style: wavy;
}

.wrap-text-next > .title-first {
  color: yellow;
  text-shadow: 6px 5px 3px blue;
}

.wrap-text-next > .title-second {
  color: blue;
  text-shadow: 2px 2px 5px #000, 5px -2px 10px red;
}

.wrap-text-end > .error-1 {
  font-family: "Proxima Nova";
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 1.3px;
  line-height: 2;
  color: green;
  text-align: left;
  text-transform: uppercase;
}

.wrap-text-end > .error-2 {
  font-family: "Proxima Nova";
  font-weight: 400;
  font-size: 20px;
  line-height: 2;
  /* !Додає горизонтальний scroll  white-space*/
  white-space: nowrap;

  color: olivedrab;
  text-align: left;
  text-transform: lowercase;
}

.wrap-text-end > .error-3 {
  font-family: "Proxima Nova";
  font-weight: 300;
  font-size: 20px;
  line-height: 2;
  letter-spacing: 1.3px;
  color: greenyellow;
  text-align: left;
  text-transform: capitalize;
  word-spacing: 20px;
}

/* ! Так як ми вчимось і не знаходимось в реальних умовах
 !завдання 4 і 5 буду верстати у футері */

.layout-wrap {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0;
  color: #2b2929;
}

.text-title {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0;
  text-align: center;
  color: #2b2929;
}

.text-block-2 .text-title {
  text-align: left;
}

.extra-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0;
  color: #2b2929;
}
