@import url('fonts.css');
@import url('reset.css');

body {
  font-family: 'Proxima Nova', sans-serif;
  background-color: rgb(168, 218, 126);
}

.wrapper {
  overflow: clip;
  min-height: 100%;
}

.header {
  background-color: rgb(216, 224, 210);
}

.header__container {
  position: relative;
  max-width: 1320px;
  padding-inline: 15px;
  margin: 0 auto;
  overflow: visible;
  padding-top: 15px;
  padding-bottom: 15px;
}

.header__wrap {
  /* max-width: 100%; */
  display: inline-block;
  padding: 25px;
}

.header__title {
  font-size: 30px;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  color: #2b2929;
  width: 100%;
}

.page__container {
  max-width: 1320px;
  padding-inline: 15px;
  margin: 0 auto;
}

.page__title {
  font-size: 30px;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  color: #2b2929;
  margin-bottom: 50px;
}

.page__2d-block {
  display: inline-block;
  width: 250px;
  height: 250px;
  background-color: rgb(216, 224, 210);
}

.page__2d-block:not(last-child) {
  margin: 0 35px 25px 0;
}

.page__2d-item {
  padding: 20px;
  width: 250px;
  height: 250px;
  background-color: #7a956b;
  color: white;
  text-align: center;
  font-size: 20px;
  overflow: hidden;
  transition: all 0.9s;
}

.page__2d-item:hover {
  transform: translate(15px, 15px);
}

.page__2d-block:nth-child(2) > .page__2d-item:hover {
  transform: translate(15px, -15px);
}

.page__2d-block:nth-child(3) > .page__2d-item:hover {
  transform: translateY(15px);
}

.page__2d-block:nth-child(4) > .page__2d-item:hover {
  transform: translateX(15px);
}

.page__2d-block:nth-child(5) > .page__2d-item:hover {
  transform: scale(1.1);
}
.page__2d-block:nth-child(6) > .page__2d-item:hover {
  transform: scale(0.9);
}
.page__2d-block:nth-child(7) > .page__2d-item:hover {
  transform: scale(0.9, 0.7);
}
.page__2d-block:nth-child(8) > .page__2d-item:hover {
  transform: rotate(30deg);
}
.page__2d-block:nth-child(9) > .page__2d-item:hover {
  transform: rotate(-30deg);
}
.page__2d-block:nth-child(10) > .page__2d-item:hover {
  transform: skew(10deg, 15deg);
}
.page__2d-block:nth-child(11) > .page__2d-item:hover {
  transform: skew(-15deg, 0);
}

.page__2d-block:nth-child(12) > .page__2d-item:hover {
  transform: translate(20px, 20px) scale(1.1) rotate(15deg) skew(10deg, 10deg);
}
.page__2d-block:nth-child(13) > .page__2d-item:hover {
  transform-origin: bottom right;
  transform: rotate(-15deg);
}

/* !--------------3D--------------------*/
.page__3d-list {
  margin-bottom: 50px;
}

.page__3d-block {
  display: inline-block;
  width: 250px;
  height: 250px;
  background-color: rgb(216, 224, 210);
  /* !на скільки близько об'єкт до нас знаходиться perspective: 600px;
  ! підганяємо візуально під нашу ситуацію */
  perspective: 600px;
  perspective-origin: preserve-3d;
}

.page__3d-block:not(last-child) {
  margin: 0 35px 25px 0;
}

.page__3d-item {
  padding: 20px;
  width: 250px;
  height: 250px;
  background-color: #7a956b;
  color: white;
  text-align: center;
  font-size: 20px;
  overflow: hidden;
  transition: all 0.9s;
}

.page__3d-block:first-child > .page__3d-item:hover {
  transform: translate3d(30px, 15px, 15px);
}

.page__3d-block:nth-child(2) > .page__3d-item:hover {
  transform: scale3d(-1.1, -1.2, -1.1);
}
.page__3d-block:nth-child(3) > .page__3d-item:hover {
  transform: rotate3d(2, -1, 1, 40deg);
}

.page__3d-block:nth-child(4) > .page__3d-item:hover {
  transform: rotate3d(1, 1, 1, -40deg);
}
.page__3d-block:nth-child(5) > .page__3d-item:hover {
  transform: rotateY(40deg);
}
.page__3d-block:nth-child(6) > .page__3d-item:hover {
  transform: rotateX(-40deg);
}

.page__3d-block:nth-child(7) > .page__3d-item:hover {
  backface-visibility: hiden;
  transform: rotateY(80deg);
}

.page__3d-block:nth-child(8) > .page__3d-item:hover {
  backface-visibility: hiden;
  transform: rotateY(360deg);
}

/* !----Flipper----- */

.card__body {
  position: relative;
  width: 300px;
  perspective: 800px;
}
.card__body img {
  border-radius: 15px;
  width: 100%;
}
.card__front,
.card__back {
  transition: all 0.9s;
}
.card__front {
  backface-visibility: hidden;
  transform: rotateX(180deg);
}
.card__back {
  transform: rotateY(0deg);
  position: absolute;
  top: 0;
  left: 0;
}
.card__body:hover .card__front {
  transform: rotateX(0deg);
}
.card__body:hover .card__back {
  transform: rotateX(-180deg);
}

/* !----Car----- */

.car {
  margin: 0 auto;
  position: relative;
  padding: 100px;
}

.car__body {
  position: relative;
  width: 800px;
  height: 180px;
  border: 3px solid black;
  border-radius: 22% 78% 7% 93% / 100% 43% 57% 0%;
  background-color: #7a956b;
}

.car__element:nth-child(1) {
  position: absolute;
  top: 80px;
  left: 10px;
  width: 40px;
  height: 10px;
  border-radius: 20px;
  border: 1px solid black;
  background-color: red;
}

.car__element:nth-child(2) {
  position: absolute;
  top: 80px;
  left: 760px;
  width: 40px;
  height: 10px;
  border-radius: 20px;
  border: 1px solid black;
  background-color: red;
}

.car__element:nth-child(3) {
  position: absolute;
  perspective: 300px;
  perspective-origin: center;
  top: 6px;
  left: 240px;
  width: 250px;
  height: 164px;
  border-radius: 0% 100% 39% 61% / 100% 36% 64% 0%;
  border: 10px solid black;
  background-color: #7a956b;
}

.car__element:nth-child(5) {
  position: absolute;
  top: -10px;
  left: 400px;
  width: 264px;
  height: 26px;
  border-radius: 48% 52% 38% 107% / 0% 0% 122% 151%;
  border: 1px solid black;
  background-color: #16a4eb;
  transform: rotate(185deg);
}

.element__seat-1 {
  position: absolute;
  /* z-index: 2; */
  top: 72px;
  left: 270px;
  width: 20px;
  height: 70px;
  border-radius: 5px;
  background-color: black;
  transform: rotate(-16deg) skew(0, -45deg);
}

.element__seat-2 {
  position: absolute;
  /* z-index: 2; */
  top: 110px;
  left: 315px;
  width: 20px;
  height: 70px;
  border-radius: 5px;
  background-color: black;
  transform: rotate(90deg) skew(0, -15deg);
}

.element__seat-3 {
  position: absolute;
  /* z-index: 2; */
  top: 125px;
  left: 275px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgb(171, 165, 100);
}

.element__drive-1 {
  position: absolute;
  /* z-index: 2; */
  top: 81px;
  left: 424px;
  width: 20px;
  height: 70px;
  border-radius: 5px;
  background-color: black;
  transform: rotate(119deg);
}

.element__drive-2 {
  position: absolute;
  top: 64px;
  left: 433px;
  width: 20px;
  height: 70px;
  border-radius: 5px;
  background-color: black;
  transform: rotate(90deg);
}

.element__drive-3 {
  position: absolute;
  top: 54px;
  left: 380px;
  width: 8px;
  height: 79px;
  background-color: black;
  transform: rotate(88deg);
}

.element__drive-4 {
  position: absolute;
  top: 75px;
  left: 347px;
  width: 8px;
  height: 39px;
  border-radius: 5px;
  background-color: rgb(171, 165, 100);
  transform: rotate(350deg);
}

.element__pedal-1 {
  position: absolute;
  top: 145px;
  left: 414px;
  width: 3px;
  height: 15px;
  border-radius: 5px;
  background-color: black;
  transform: rotate(134deg);
}

.element__pedal-2 {
  position: absolute;
  top: 140px;
  left: 409px;
  width: 3px;
  height: 15px;
  border-radius: 5px;
  background-color: rgb(171, 165, 100);
  transform: rotate(52deg);
}

.element__door {
  position: absolute;
  z-index: 33;
  top: 6px;
  left: 240px;
  backface-visibility: hidden;
  width: 250px;
  height: 164px;

  border-radius: 0% 100% 39% 61% / 100% 36% 64% 0%;
  border: 3px solid black;
  background-color: #7a956b;

  overflow: hidden;
}

.element__open {
  position: absolute;
  top: 35px;
  left: 5px;
  width: 30px;
  height: 5px;
  border-radius: 20px;
  background-color: black;
}

.element__door:hover {
  transform-origin: bottom right;
  transform: rotate(45deg);
  transition: all 1s ease 0s;
}

.body-car__left-wheel {
  position: relative;
  top: 65px;
  left: 65px;
  width: 150px;
  height: 150px;
  background-color: #2b2929;
  border-radius: 50%;
  border: 3px dashed#7a956b;
}

.wheel-left__element {
  position: absolute;
  top: 15%;
  right: 15%;
  padding: 50px;
  border-radius: 50px;
  background-color: #7a956b;
  border: 3px solid #2b2929;
}

.body-car__righte-wheel {
  position: relative;
  top: -80px;
  left: 580px;
  width: 150px;
  height: 150px;
  background-color: #2b2929;
  border-radius: 50%;
  border: 3px dashed#7a956b;
}

.wheel-righte__element {
  position: absolute;
  top: 15%;
  right: 15%;
  padding: 50px;
  border-radius: 50px;
  background-color: #7a956b;
  border: 3px solid #2b2929;
}
