@import url('fonts.css');
@import url('reset.css');

body {
  font-family: 'Proxima Nova', sans-serif;
  color: #ffffff;
  background-color: rgb(88, 88, 88);
}
.wrapper {
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
}
.wrapper > main {
  flex-grow: 1;
}
.header {
  padding-top: 25px;
  padding-bottom: 25px;
}

.header__container {
  max-width: 1320px;
  padding: 0 15px;
  margin: 0 auto;
}

.header__container > h1 {
  font-size: 20px;
  font-weight: 600;
  line-height: 140%; /* 28/20 */
  text-align: center;

  color: #ffffff;
}

.page__container {
  max-width: 1320px;
  padding: 0 15px;
  margin: 0 auto;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 50px;
}

.form__input-wrap {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form__input-wrap:nth-child(8) > .form__input {
  width: 50px;
  padding: 0;
}

.form__input-wrap:nth-child(10) > .form__input {
  padding: 0;
}

textarea {
  width: 400px;
  height: 200px;
  padding: 10px 15px;
  background-color: #ffffff;
  color: rgb(88, 88, 88);
  border-radius: 8px;
  resize: vertical;
}

.label {
  display: block;
  max-width: 200px;
  width: 100%;
}

.form__input {
  height: 50px;
  width: 25%;
  padding: 10px 15px;
  background-color: #ffffff;
  color: rgb(88, 88, 88);
  border-radius: 8px;
}

.form__input::placeholder {
  color: red;
}

.form__input:disabled {
  opacity: 0.5;
}

.form__select {
  max-width: 200px;
}

.choose {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* !заставляємо елементи прижатись до початку другорядної вісі,
  ! таким чином ми робимо так щоб елменти не розтягувались на всю ширину */
  align-items: flex-start;
}

/* !checkbox */
/* .choose__checkbox {
} */
.checkbox {
  position: relative;
  cursor: pointer;
}
.checkbox__input {
  /* !максимально приховуємо, але  display:none; і visabiliti:hiden; застосовувати неможна,
   !тому що ми повинні мати можливість з ним взаємодіяти  */
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  opacity: 0;
}

/* ! focus-visible даю для того щоб фокусировка зявлялась лише при натисканні TAB,
! якщо ж встановити звичайний focus тоді при кліку мишки теж буде зявлятись фокусуваня
!що мені не потрібно \імітація, стилізація поведінки інпуту який прихований \ */

.checkbox__input:focus-visible + .checkbox__text {
  outline: 1px solid #fff;
  outline-offset: 5px;
}

.checkbox__input:checked + .checkbox__text::before {
  background-color: aquamarine;
  border: 1px solid aquamarine;
}

.checkbox__text {
  display: flex;
  gap: 15px;
  font-size: 18px;
  font-weight: 700;
}

.checkbox__text::before {
  content: '';
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #ffffff;
  transition: all 0.3s;
}

/* !radio */

.choose__radio {
}
.radio {
  position: relative;
  cursor: pointer;
}
.radio__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  opacity: 0;
}
.radio__text {
  display: flex;
  gap: 15px;
  font-size: 18px;
  font-weight: 700;
}

.radio__text::before {
  content: '';
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  transition: all 0.3s;
}

/* ! фокус буде додаватись лише на обраний елемент, стрілками можна вибирати  */

.radio__input:focus-visible + .radio__text {
  outline: 1px solid #fff;
  outline-offset: 5px;
}

.radio__input:checked + .radio__text::before {
  background-color: aquamarine;
  border: 1px solid aquamarine;
}

/* !---button--- */

.btn {
  display: inline-block;
  max-width: 200px;
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
  padding: 15px;
  color: #049246;
  background-color: #ffef14;
  border-radius: 10px;
  border: 5px solid transparent;

  will-change: color;

  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.btn:hover {
  color: #cfa012;
  background-color: #57cf12;
  border: 5px solid #cfa012;
}
