@import url('fonts.css');
@import url('reset.css');

body {
  font-family: 'Proxima Nova', sans-serif;
  color: #2b2929;
  background-color: #f8f8f8;
}
.wrapper {
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
}
.wrapper > main {
  flex-grow: 1;
}

.order {
  padding: 30px 0 40px 0;
}
.order__container {
  max-width: 1320px;
  padding: 0 15px;
  margin: 0 auto;
}

.order__title {
  font-size: 40px;
  font-weight: 600;
  line-height: 120%; /* 48/40 */
}

.order__title:not(:last-child) {
  margin-bottom: 40px;
}

.order__form {
  max-width: 740px;
}
.form {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: -3px 4px 15px 0px rgba(0, 0, 0, 0.06);
}

/* !------інформація про покупця-------- */

.form__box {
  position: relative;
}

/* !---- form__line не даю на останній елемент */

.form__line::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5px;
  width: 100%;
  background-color: #f8f8f8;
}

.wrapp {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.label-titel {
  display: flex;
  align-items: center;
  gap: 15px;
}

.wrapp__label:not(:last-child) {
  margin-bottom: 30px;
}

h2 {
  color: #2b2929;
  font-size: 26px;
  font-weight: 600;
  line-height: 130.769231%; /* 34/26 */
}

.info-wrapp__inputs {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 20px;
}

.info-wrapp__inputs:not(:last-child) {
  margin-bottom: 20px;
}

.info-wrapp__input-line {
  flex-basis: 325px;
  flex-grow: 1;
  flex-shrink: 0;
}

.info-wrapp__input-line:last-child {
  flex-grow: 0;
}

.info-wrapp__input {
  width: 100%;
  padding: 10px 20px;
  border-radius: 8px;
  outline: 1px solid #d1d5d5;
  background: #fff;
  transition: all 0.5;
}

.info-wrapp__input::placeholder {
  color: #535353;
  line-height: 187.5%; /* 30/16 */
}

.checkbox__label {
  position: relative;
  cursor: pointer;
}
.checkbox__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  opacity: 0;
}
.checkbox__text {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  line-height: 187.5%; /* 30/16 */
  color: #535353;
}

.checkbox__input:focus-visible + .checkbox__text {
  outline: 1px solid #ffbc57;
  outline-offset: 4px;
}

.info-wrapp__input:focus {
  outline: 1px solid #ffbc57;
}

.info-wrapp__input:focus::placeholder {
  color: #ffbc57;
}

.checkbox__text::before {
  content: '';
  flex-shrink: 0;
  align-self: flex-start;
  width: 24px;
  height: 24px;
  border: 2px solid #d1d5d5;
}

.checkbox__input:checked + .checkbox__text::before {
  background: url('../img/krovato/form/Checked.svg') center / cover no-repeat,
    #ffbc57;
}

/* !--------------- */
