/* !Локальне підключення */
@import url("fonts.css");

@import url("reset.css");

body {
  font-family: "Proxima Nova", sans-serif;
  /* !це стандартні параметри браузера за замовчуванням,
   !body їх можна не прописувати */
  /* font-weight: 400;
  font-size: 16px; */
  background-image: url("../img/repeat.jpg");
  /* ?скролиться або не скролиться, фонове зображення, разом з блоком */
  background-attachment: fixed;
  /* background-attachment: scroll; */
}

.page-header {
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.main {
  padding-bottom: 100px;
}

.page-header,
main,
footer {
  background-repeat: repeat-x;
  background-image: linear-gradient(
    90deg,
    rgba(59, 215, 121, 0.49625787815126055) 50%,
    rgba(3, 204, 245, 0.49625787815126055) 100%
  );
}

.btn-wrap {
  text-align: center;
  margin-bottom: 50px;
}

/* .btn-pseudo {
  margin: 0 auto;
} */

.box-text {
  width: 900px;
  margin: 0 auto;
  padding: 25px;
  border: 10px solid rgb(157, 109, 204);
  outline: 15px solid yellowgreen;
  background-image: linear-gradient(
    90deg,
    rgba(252, 190, 0, 1) 50%,
    rgba(151, 255, 0, 1) 100%
  );
}

.box-text h1 {
  font-size: 40px;
  font-style: oblique;
  color: red;
  text-align: center;

  margin-bottom: 15px;
  border: 8px dotted rgb(201, 50, 50);
}

.box-text h1 ~ p {
  /* !після  h1 до всіх елементів застосувати */
  font-family: "Roboto";
  font-weight: 500;
  font-size: 20px;
  color: blue;
  text-align: right;

  margin-bottom: 15px;
  border: 5px dashed rgb(171, 238, 2);
}

.box-text h1 + p {
  font-family: "Kyiv Region";
  font-size: 25px;
  color: green;
  text-align: left;
  border: 8px double rgb(36, 40, 25);
  border-bottom: none;
}

/* ?Наступний блок */

.bg-wrap {
  background-image: url("https://cs11.pikabu.ru/post_img/big/2020/05/12/9/1589296666113294753.jpg ");
  background-repeat: no-repeat;
  /* ?cover — масштабує зображення так,
  ?щоб воно зайняло увесь блок (якщо в блоці не буде контенту то ми не побачимо фонове зображення).
  ?Тобто по найбільшій частині картинки.  */
  background-size: cover;
}

.wrap-text-first {
  max-width: 900px;
  margin: auto;
  margin-bottom: 100px;
  padding-top: 25px;
  padding-bottom: 100px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: rgb(206, 240, 138);

  background-image: url("https://cs11.pikabu.ru/post_img/big/2020/05/12/9/1589296666113294753.jpg ");
  background-repeat: no-repeat;
  /* ?Перше значення  — ширина, друге — висота (значення можуть бути у відсотках, px). */
  /* background-size: 300px 100px; */
  /* background-size: auto 100px; */
  /* !спеціальні значення */
  /* ?contain — масштабує зображення таким чином, щоб картинка повністю помістилася всередину блоку.
  ?Тобто по найменшій частині картинки (висота, якщо зображення горизонтальне, або ширина).
  ?Підходить для фотографій та карток товарів. */
  background-size: contain;

  background-position: center;

  border-top: 10px solid rgb(157, 109, 204);
  border-right: 10px dotted rgb(109, 196, 204);
  border-bottom: 10px double rgb(3, 167, 11);
  border-left: 10px dashed rgb(247, 143, 8);
}

.wrap-text-first > h2 {
  font-size: 40px;
  font-style: italic;
  color: #ff440061;
  text-align: center;

  margin-bottom: 15px;
}

.wrap-text-first h2 + p {
  margin-bottom: 15px;
}

.wrap-text-first > p {
  /* color: rgba(55, 168, 51, 0.5); */
  opacity: 0;
  font-size: 25px;
  text-align: center;
}

.wrap-text-next {
  max-width: 900px;
  margin: 0 auto;
}

.wrap-text-next h2 {
  font-size: 40px;
  color: green;
  /* !так має бути тут не центрую заголовки */
  text-align: justify;

  margin-bottom: 15px;
}

/* ?Наступний блок */

.wrap-text-next {
  margin-bottom: 100px;
  font-size: 25px;
  padding: 100px;
  background-color: #e3e3e3;
  border-radius: 25px;
  background-image: url("../img/icon.png"),
    radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(247, 0, 50, 1) 100%);
  background-repeat: no-repeat;
  /* background-repeat: repeat-x; */
  /* background-repeat: repeat-y; */
  /* !перше значення — розташування по горизонталі 
  !(значення може бути у відсотках, px, словом),
  ! друге значення — по вертикалі. */
  background-position: right 50%;
}

.title-first {
  opacity: 0;
}

.title-second {
  opacity: 1;
}

.title-end {
  opacity: 0.5;
}

.wrap-text-next h2 ~ p {
  margin-bottom: 15px;
}

.error-real-1 {
  color: blueviolet;
  text-decoration: underline;
  text-decoration-color: cadetblue;
  text-decoration-style: dashed;
  /* text-decoration-line: line-through; */

  visibility: hidden;
}

.error-real-2 {
  color: brown;
  text-decoration: line-through;
  text-decoration-color: black;
  text-decoration-style: double;
}

.error-real-3 {
  color: goldenrod;
  text-decoration: overline;
  text-decoration-color: blue;
  text-decoration-style: wavy;
}

.wrap-text-next > .title-first {
  color: yellow;
  text-shadow: 6px 5px 3px blue;
}

.wrap-text-next > .title-second {
  color: blue;
  text-shadow: 2px 2px 5px #000, 5px -2px 10px red;
}

/* ?Наступний блок */
.wrap-text-end {
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 50px;

  border: 4px solid rgb(143, 6, 97);
  border-radius: 5%;
  /* ?зовнішня тінь */
  box-shadow: 0px 0px 23px 11px rgba(143, 6, 98, 1);

  background-image: linear-gradient(
    0deg,
    rgba(34, 34, 195, 1) 0%,
    rgba(253, 107, 45, 1) 100%
  );
}

.wrap-text-end > .error-1 {
  font-family: "Proxima Nova";
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 1.3px;
  line-height: 2;
  color: whitesmoke;
  text-align: left;
  text-transform: uppercase;
}

.wrap-text-end > .error-2 {
  font-family: "Proxima Nova";
  font-weight: 300;
  font-size: 20px;
  line-height: 2;
  /* !white-space дозволяє контролювати,
  !як пробіли та розриви рядків в тексті відображаються на веб-сторінці.*/
  /* white-space: nowrap; */

  color: wheat;
  text-align: left;
  text-transform: lowercase;
}

.wrap-text-end > .error-3 {
  font-family: "Proxima Nova";
  font-weight: 300;
  font-size: 20px;
  line-height: 2;
  letter-spacing: 1.3px;
  color: greenyellow;
  text-align: left;
  text-transform: capitalize;
  word-spacing: 20px;
}

/* !Тимчасова конструкція побудови сітки елементів */

.wrap-li-box {
  max-width: 900px;
  text-align: center;
  margin: 0 auto;

  overflow: hidden;
}

.li-box {
  margin: 50px -5px;
  font-size: 0;

  /* margin-left: -5px;
  margin-right: -5px;
  margin-bottom: 50px;
  margin-top: 50px; */
}

.li-item {
  display: inline-block;
  width: 100%;
  max-width: 15%;
  margin-right: 10px;

  font-size: 30px;

  vertical-align: top;
}

.content-li {
  display: block;
  padding: 50px;
  text-align: center;
  background-color: #cf1212;
  border-radius: 50%;

  /* !не розумію чому обрізається верхня тінь?
  ! Коли задаю плюсове значення все ок. Після того як додав верхній margin
  ! на  .li-box все запрацювало. Чи можна використовувати подібні рішення?
  !при паддінгу у мене диформувався контент */

  box-shadow: 0px -25px 20px -4px rgba(0, 0, 0, 1),
    inset 0px 0px 20px -4px rgba(0, 0, 0, 1);
}

/*  !забіг трішки наперед*/

li:first-child > .content-li {
  background-color: #cf1212;
  border-radius: 30% 70% 70% 30% / 42% 52% 48% 58%;
  /* ?внутрішня тінь */
  box-shadow: inset 0px 0px 23px 11px rgba(0, 0, 0, 0.43);
}

.none {
  /* ?вилучає елемент з потоку, інші елементи займають його місце */
  display: none;
}

.wrap-li-box > img {
  max-width: 700px;
  border-radius: 30% 70% 70% 30% / 42% 52% 48% 58%;
  /* border-radius: 16% 84% 8% 92% / 65% 59% 41% 35%; */
  background-size: contain;
}

.bg-practic {
  max-width: 900px;
  margin: 0 auto;
}

/*!------------------------------------Footer--------------------------------------------*/

.footer-container {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 100px;
  padding-top: 100px;
}

/* !-------------------------------------lesson7-------------------------------------*/

.btn-pseudo {
  display: inline-block;
  margin: 0 auto;
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
  padding: 15px;
  color: #049246;
  background-color: #ffef14;
  border-radius: 10px;
  border: 5px solid transparent;
}

/* ? Застосування----------------------- :hover, :active, :visited :focus*/

.foot-btn:hover {
  color: #cfa012;
  background-color: #57cf12;
  border: 5px solid #cfa012;
}

.btn-pseudo:hover {
  color: #544107;
  background-color: #c8ff00;
  border: 5px solid #544107;
}

.btn-pseudo:active {
  color: #eb0c0c;
  background-color: rgb(73, 32, 32);
  border: 5px solid #eb0c0c;
}

.foot-btn:visited {
  color: #57dc95;
  background-color: #ece581;
}

.btn-pseudo:focus {
  outline: 5px solid #cf1212;
}

.foot-block {
  padding-top: 100px;
  padding-bottom: 100px;
}
.foot-btn {
  margin: 0 auto;
  margin-bottom: 35px;
  font-size: 30px;
  font-weight: bold;
  padding: 50px;
  color: #049246;
  background-color: #ffef14;
  border-radius: 10px;
  border: 5px solid transparent;
}

.foot-block:hover .foot-img {
  display: block;
}

.foot-img > img {
  max-width: 1000px;
  border-radius: 10%;
}

/* ?зміна кольору для кнопки при наведенні курсору на батьківський елемент */
.foot-block:hover .foot-btn {
  color: #cf1212;
  background-color: black;
  border: 5px solid #cf1212;
}

/* ?приховування картинки */
.foot-img {
  display: none;
}

/* ?поява картинки при наведенні курсору на батьківський елемент */
.foot-block:hover .foot-img {
  display: block;
}

.foot-block-1 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.foot-img-1 {
  display: none;
}

.foot-img-1:target {
  display: block;
}

.foot-img-1 > img {
  max-width: 1000px;
  border-radius: 10%;
}

/* ?---------------------------Візуалізація  псевдокласів положення-------------------------------*/

.footer-container h2:first-of-type {
  font-size: 75px;
  font-weight: bold;
  color: rgb(231, 195, 12);
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 50px;
}

.wrap-visual {
  max-width: 1024px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 100px;
  padding: 75px;
  border-radius: 30px;
  overflow: hidden;

  border: 10px solid rgb(143, 6, 97);
  box-shadow: 0px 0px 23px 11px rgba(143, 6, 98, 1);
  background-image: linear-gradient(
    0deg,
    rgba(34, 34, 195, 1) 0%,
    rgba(253, 107, 45, 1) 100%
  );
}

.wrap-visual > h3 {
  font-size: 65px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-align: center;

  margin-bottom: 15px;
}

.visual {
  margin: 25px -5px;
  font-size: 0;
}

.visual-item {
  display: inline-block;
  max-width: 100%;
  width: 15%;
  text-align: center;
  margin-right: 10px;
  font-size: 30px;
  vertical-align: top;
}

.visual-li {
  display: block;
  padding: 50px;
  text-align: center;
  background-color: rgb(231, 195, 12);
  border-radius: 50%;
}

.visual-li:hover {
  background-color: rgb(237, 222, 142);
}

/* ?звернення лише до першого елемента через батька*/

.visual li:first-child > .visual-1 {
  background-color: rgb(110, 110, 202);
}

.visual li:first-child > .visual-1:hover {
  background-color: rgb(71, 71, 155);
}

/* ?звернення лише до останього елемента через батька*/
.visual li:last-child > .visual-2 {
  background-color: rgb(110, 110, 202);
}
.visual li:last-child > .visual-2:hover {
  background-color: rgb(71, 71, 155);
}

/* ?звернення до конкретного елементу в коді (звернення лише до другого як приклад) */
.visual li:nth-child(2) > .visual-3 {
  background-color: rgb(110, 110, 202);
}

.visual li:nth-child(2) > .visual-3:hover {
  background-color: rgb(71, 71, 155);
}

/* ?через один не парні*/
.visual li:nth-child(odd) > .visual-4 {
  background-color: rgb(110, 110, 202);
}

.visual li:nth-child(odd) > .visual-4:hover {
  background-color: rgb(71, 71, 155);
}

/* ?через один парні*/
.visual li:nth-child(even) > .visual-5 {
  background-color: rgb(110, 110, 202);
}

.visual li:nth-child(even) > .visual-5:hover {
  background-color: rgb(71, 71, 155);
}
/* ?застосуй до останнього 2го елементу */

.visual li:nth-last-child(2) > .visual-6 {
  background-color: rgb(110, 110, 202);
}

.visual li:nth-last-child(2) > .visual-6:hover {
  background-color: rgb(71, 71, 155);
}

/* !автоматичні алгоритми "Кожен через"
!в данному випадку реалізований алгоритм кожен 3й елемент починаючи з 2го елементу
!якщо б було вказано просто 3n ЦЕ Б ОЗНАЧАЛО ПРОСТО КОЖЕН ТРЕТІЙ*/

.visual li:nth-child(3n + 2) > .visual-7 {
  background-color: rgb(110, 110, 202);
}

.visual li:nth-child(3n + 2) > .visual-7:hover {
  background-color: rgb(71, 71, 155);
}

/*! псевдоклас виключення (для всіх, окрім… вказуємо .селектор або :псевдоклас) ---- приклад ---- :not(:first-child) — для усіх елементів окрім останнього:*/

.visual li:not(:first-child) > .visual-8 {
  background-color: rgb(110, 110, 202);
}

.visual li:not(:first-child) > .visual-8:hover {
  background-color: rgb(71, 71, 155);
}

/*! псевдоклас умова/перевірка присутності :has(якщо є в середині .селектор, :псевдоклас то застосуй, перевіряє наявність селектору в сеоредині тегу)*/
/* ?Це не найкраща практика томущо has перевіряє наявність елементу всередині,
 ?це не стосується взагалі ніяк застосування стилів до N елементу, але залишу для прикладу  */
.visual:has(> li > .visual-9) .visual-9 {
  background-color: rgb(110, 110, 202);
}

.visual:has(> li > .visual-9) .visual-9:hover {
  background-color: rgb(71, 71, 155);
}

.wrap-visual p:has(> span) {
  color: #ffef14;
}

/* !/* :last-of-type звернення до останього типу обєкту "р" всередині wrap-visual якщо буде відмінний тег від "p" стилі не спрацюють*/

.wrap-visual p:last-of-type {
  font-size: 25px;
  text-transform: uppercase;
}

/* ! Приклади Застосування------------------ ::before ::after-------------------- */

.btn-pseudo::before {
  content: "";
  background: url("../img/icon.png") no-repeat 0 / contain;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 20px;

  /* ?властивість transition ми ще не вивчали, вона використана лише для прикладу */
  transition: all 0.8s ease 0s;
}

/* ?зміна стилів при наведені на елемент */
.btn-pseudo:hover::before {
  /* ?властивість transform ми ще не вивчали, вона використана лише для прикладу */
  transform: scale(1.5);
}

.btn-pseudo::after {
  content: "";
  background: url("../img/icon.png") no-repeat 0 / contain;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 20px;

  /* ?властивість transition ми ще не вивчали, вона використана лише для прикладу */
  transition: all 0.8s ease 0s;
}

/* ?зміна стилів при наведені на елемент */
.btn-pseudo:hover::after {
  /* ?властивість transform ми ще не вивчали, вона використана лише для прикладу */
  transform: scale(1.5);
}

/* !практикую звернення до елементів, знаю що перший елемент може бути і не типу  ol a якийсь інший */

.footer-container > h3 {
  font-size: 75px;
  font-weight: bold;
  color: rgb(231, 195, 12);
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 50px;

  margin-bottom: 25px;
}

.footer-container ol:first-of-type {
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 100px;
  padding: 75px;
  font-size: 20px;
  color: #ffef14;
  border-radius: 30px;
  border: 10px solid rgb(143, 6, 97);
  box-shadow: 0px 0px 23px 11px rgba(143, 6, 98, 1);
  background-image: linear-gradient(
    0deg,
    rgba(34, 34, 195, 1) 0%,
    rgba(253, 107, 45, 1) 100%
  );

  counter-reset: list-counter;
}

.footer-container ol:first-of-type > li {
  text-align: left;
  margin-bottom: 15px;
}

.footer-container ol:first-of-type > li::before {
  content: counter(list-counter) ". ";
  counter-increment: list-counter;
  display: inline-block;
  margin-right: 5px;
  color: green;
}

/* !-------------------------------------- Game----------------------------------------- */
/* .footer-container a:first-of-type {
  margin-right: 25px;
} */
/* !------------------------------lesson7  and-------------------------------------------*/
